
.img {
    border-radius: 50%; /* Define bordas totalmente arredondadas */
    width: 250px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 250px; /* Ajuste o tamanho da imagem conforme necessário */
    object-fit: cover; /* Garante que a imagem preencha o contêiner */
    
}

header {

    display: flex;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    justify-content: flex-end;
    color: azure;
    font-size: 16px;
}

nav {
    display: flex;
    gap: 15px;
    color: azure;
    text-decoration: none;
    padding: 10px;

}

body { 
    background-color: rgb(29, 32, 33);
    font-style: normal;
    text-align: center;
    color: azure;
}
